<h2> New Celebrity </h2>

<form method="post" action="/celebrities/create">

  <label>Name</label>
  <input name="name" />
  <label>Ocupattion</label>
  <input name="ocupattion" />
  <label>CatchPhrase</label>
  <input name="catchPhrase" />

  <button type="submit"> New Celebrity </button>
</form>
